<!-- About us -->
<section class="about-us" id="about-us">
  <div class="about-us__container">
    <div class="about-us__media">
     <source
    media="(min-width: 768px)"
    srcset="
      ./images/about/about-img-tablet.webp 1x,
      ./images/about/about-img-tablet@2x.webp 2x
    "
  />

  <img
    class="about-us__image"
    src="./images/about/about-img-mob.webp"
    srcset="
      ./images/about/about-img-mob.webp 1x,
      ./images/about/about-img-mob@2x.webp 2x
    "
    alt="Jeweler polishing a handmade ring with a rotary tool"
    width="335"
    height="335"
    loading="lazy"
  />
</picture>
    </div>

    <div class="about-us__content">
      <h2 class="about-us__title">The Artistry Behind Handmade Jewelry</h2>
      <p class="about-us__text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>

      <ul class="about-us__list">
        <li class="about-us__item about-us__item--leaf">
          <p class="about-us__item-text">Inspired by Nature</p>
        </li>
        <li class="about-us__item about-us__item--heart">
          <p class="about-us__item-text">Handcrafted with Love</p>
        </li>
        <li class="about-us__item about-us__item--book">
          <p class="about-us__item-text">Every Piece Tells a Story</p>
        </li>
      </ul>
    </div>
  </div>
</section>