<!-- Gallery -->

<section class="gallery section" id="gallery">
  <div class="container">
    <div class="gallery-content">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/gallery/gallery-img1-desktop.webp    1x,
              ./images/gallery/gallery-img1-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img1-tablet.webp    1x,
              ./images/gallery/gallery-img1-tablet@2x.webp 2x
            "
          />
          <img
            srcset="
              ./images/gallery/gallery-img1-mob.webp    1x,
              ./images/gallery/gallery-img1-mob@2x.webp 2x
            "
            src="./images/gallery/gallery-img1-mob.webp"
            width="335"
            height="335"
            alt="Gallery Image 1"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/gallery/gallery-img2-desktop.webp    1x,
              ./images/gallery/gallery-img2-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img2-tablet.webp    1x,
              ./images/gallery/gallery-img2-tablet@2x.webp 2x
            "
          />
          <img
            srcset="
              ./images/gallery/gallery-img2-mob.webp    1x,
              ./images/gallery/gallery-img2-mob@2x.webp 2x
            "
            src="./images/gallery/gallery-img2-mob.webp"
            width="335"
            height="335"
            alt="Gallery Image 2"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/gallery/gallery-img3-desktop.webp    1x,
              ./images/gallery/gallery-img3-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img3-tablet.webp    1x,
              ./images/gallery/gallery-img3-tablet@2x.webp 2x
            "
          />
          <img
            srcset="
              ./images/gallery/gallery-img3-mob.webp    1x,
              ./images/gallery/gallery-img3-mob@2x.webp 2x
            "
            src="./images/gallery/gallery-img3-mob.webp"
            width="335"
            height="335"
            alt="Gallery Image 3"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/gallery/gallery-img4-desktop.webp    1x,
              ./images/gallery/gallery-img4-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img4-tablet.webp    1x,
              ./images/gallery/gallery-img4-tablet@2x.webp 2x
            "
          />
          <img
            srcset="
              ./images/gallery/gallery-img4-mob.webp    1x,
              ./images/gallery/gallery-img4-mob@2x.webp 2x
            "
            src="./images/gallery/gallery-img4-mob.webp"
            width="335"
            height="335"
            alt="Gallery Image 4"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
