<!-- Header -->
<header class="header" id="header">
  <div class="header-container container">
    <!-- logo -->
    <a href="./index.html" class="logo" aria-label="Handmade Jewelry home">
  <img
    src="../images/company-logo.svg"
    alt="Handmade Jewelry"
    width="84"
    height="36"
  />
</a>

    <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About us</a>
        </li>

        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link"> Benefits </a>
        </li>

        <li class="header-nav-item">
          <a href="#gallery" class="header-nav-link"> Gallery </a>
        </li>

        <li class="header-nav-item">
          <a href="#testimonials" class="header-nav-link"> Testimonials </a>
        </li>

        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link"> Contacts </a>
        </li>
      </ul>
    </nav>

    <!-- Order Now -->
    <a href="#contacts" class="header-button is-inactive"> Order Now </a>

    <!-- mobile burger -->
   <button
  class="burger-menu"
  type="button"
  aria-label="Open mobile menu"
>
  <svg class="burger-icon" width="24" height="24">
    <use href="../images/symbol-defs.svg#icon-menu"></use>
  </svg>
</button>
  </div>
</header>
