@import 'modern-normalize';


body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: #000000;
  background-color: #ffffff;
}



/* FIX CONTACTS MOBILE */
@media screen and (max-width: 767px) {
  .contacts .contacts-subtitle {
    width: 100%;
    margin: 0 0 16px;
    text-align: left;
    align-self: flex-start;
  }

  .contacts .container {
    align-items: stretch;
  }
}