.contacts {
  padding: 64px 0;
}

/* Container */

.contacts .container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .contacts .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .contacts {
    padding: 64px;
  }

  .contacts .container {
    max-width: 1312px;
    padding: 0;
  }
}

/* Text */

.contacts-subtitle {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
}
.contacts-title {
  margin-bottom: 24px;

  font-family: 'Sora', sans-serif;
  font-size: 36px;
  font-weight: 400;

  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  .contacts-title {
    font-size: 48px;
  }
}

.contacts-text {
  margin-bottom: 48px;

  font-size: 18px;
  font-weight: 400;

  line-height: 1.5;
  color: #000;
}
/* Wrapper */
.contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 1440px) {
  .contacts-wrapper {
    flex-direction: row;
  }
}

/* Form */
.contacts-form {
  order: 1;

  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .contacts-form {
    order: 0;
    width: calc((100% - 32px) / 2);
  }
}
.contacts-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.contacts-label {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

/* Input */
.contacts-input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;

  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;

  transition: border-color 350ms ease-in-out;
}

.contacts-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.contacts-input:focus {
  border-color: #ccc16e;
}

.contacts-input:focus::placeholder {
  color: transparent;
}
.contacts-input:user-invalid {
  border-color: #8c0000;
  color: #8c0000;
}

.contacts-error {
  display: none;
  margin-top: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #8c0000;
}

.contacts-input:user-invalid + .contacts-error {
  display: block;
}

/* Textarea */
.contacts-textarea {
  display: block;
  width: 100%;
  height: 180px;
  padding: 12px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;

  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: #000;
  resize: none;

  transition: border-color 350ms ease-in-out;
}

.contacts-textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.contacts-textarea:focus::placeholder {
  color: transparent;
}

.contacts-textarea:focus {
  border-color: #ccc16e;
}

/* Button */
.contacts-btn {
  width: 100%;
  height: 36px;
  padding: 6px 12px;

  border: 1px solid #ccc16e;
  background-color: #ccc16e;

  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  transition:
    background-color 350ms ease-in-out,
    border-color 350ms ease-in-out,
    box-shadow 350ms ease-in-out;
}

.contacts-btn:hover,
.contacts-btn:focus {
  background-color: transparent;
  border-color: #ccc16e;
}

.contacts-btn:active {
  background-color: #ccc16e;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
}

.contacts-btn:disabled {
  background-color: rgba(204, 193, 110, 0.3);
  border-color: #e6e2bd;
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .contacts-btn {
    width: 249px;
  }
}
@media only screen and (min-width: 1440px) {
  .contacts-btn {
    width: 192px;
  }
}

/* Contacts list */
.contacts-list {
  order: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: row;
    gap: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .contacts-list {
    order: 0;

    flex-wrap: wrap;
    align-content: flex-start;
    width: calc((100% - 32px) / 2);
    column-gap: 32px;
    row-gap: 32px;
  }
}

.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .contacts-item {
    width: calc((100% - 50px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .contacts-item {
    width: calc((100% - 32px) / 2);
  }
}
.contacts-icon {
  flex-shrink: 0;
  margin-bottom: 16px;
}

.contacts-item-title {
  margin-bottom: 8px;

  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #000;

  transition: color 350ms ease-in-out;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #ccc16e;
}
