.gallery {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 64px 20px;

  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.gallery-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 335px;
}

.gallery-title {
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

.gallery-text {
  margin: 0;

  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.gallery-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 335px;
  height: 1388px;

  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
}

.gallery-item {
  width: 335px;
}

.gallery-item img {
  display: block;

  width: 335px;
  height: 335px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 64px 32px;

    background: #fff;
  }

  .container {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
  }

  .gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: auto;
  }

  .gallery-title {
    margin: 0;

    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
  }

  .gallery-text {
    margin: 0;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: 340px 340px;
    column-gap: 24px;

    width: 704px;
    height: 626px;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  .gallery-item {
    width: 340px;
  }

  .gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    height: 368px;
  }

  .gallery-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    height: 226px;
    margin-top: 32px;
  }

  .gallery-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    height: 216px;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    height: 386px;
    transform: translateY(-128px);
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    box-sizing: border-box;
    padding: 64px;
    width: 100%;
    background: #fff;
  }

  .container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 768px;
  }

  .gallery-title {
    margin: 0;

    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
  }

  .gallery-text {
    margin: 0;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: 640px 640px;

    column-gap: 32px;
    row-gap: 32px;

    width: 1312px;
    height: 1098px;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  .gallery-item {
    width: 640px;
  }

  .gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;

    width: 640px;
    height: 640px;
  }

  .gallery-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;

    width: 640px;
    height: 426px;
  }

  .gallery-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;

    width: 640px;
    height: 426px;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;

    width: 640px;
    height: 640px;
    transform: translateY(-182px);
  }
}
