.hero {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 160px 0 152px;
  text-align: left;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero320@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* padding в моєму коді записані в container !!desktop:padding: 0 64px;
tablet padding: 0 32px; mobile padding: 0 12px 0 20px;!! */

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero320@2x.jpg');
  }
}
.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  max-width: 335px;
  margin: 0 0 24px 0;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  max-width: 335px;
  margin: 0 0 32px 0;
}
.hero-btn {
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  white-space: nowrap;
  background-color: #ccc16e;
  border: 1px solid #ccc16e;
  padding: 6px 12px;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  max-width: 335px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid #ccc16e;
  background-color: transparent;
}

.hero-btn:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: #ccc16e;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 160px 32px 0;
    height: 864px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero-tab@1x.jpg');
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/hero-tab@2x.jpg');
    }
  }
  .hero-btn {
    width: 217px;
    height: 36px;
    max-width: none;
    margin: 0;
  }
  .hero-title {
    max-width: 513px;
  }
  .hero-text {
    max-width: 513px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 224px 0 0 64px;
    height: 864px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero-ds@1x.jpg');
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/hero-ds@2x.jpg');
    }
  }
  .hero-btn {
    width: 192px;
    height: 36px;
    max-width: none;
    margin: 0;
  }
  .hero-title {
    font-size: 56px;
    max-width: 640px;
  }
  .hero-text {
    max-width: 640px;
  }
}
